@import "/css/reset.css";

:root {
  --color-background-dark: #050027;
  --color-background-blue: #0f4c75;
  --color-background-lightblue: #00b7c2;
  --color-background-light: #fff;
  --color-background-green: #4ccd99;
  --color-pink: #ff008e;
  --color-yellow: #ffc700;

  scroll-behavior: smooth;
}

/* HEADER */

.header {
  background-color: transparent;
  min-height: 89px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 10;
  .main_menu {
    display: flex;
    align-items: center;
    margin-right: 5%;
  }
  .menu_list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border: 1px solid var(--color-background-lightblue);
    background-color: hsl(248, 100%, 10%, .5);
    padding-inline: 1rem;
  }
  .menu_items {
    list-style: none;
    display: flex;
    flex-direction: row;

    a {
      font-family: "Chakra Petch", sans-serif;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 0.2rem;
      font-size: 1rem;
      color: var(--color-background-lightblue);
      text-decoration: none;
      transition: 0.8s;
    }
    a:hover {
      text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #fff, 0 0 40px #228dff,
        0 0 7px #228dff, 0 0 8px #228dff, 0 0 1px #228dff, 0 0 15px #228dff;
    }
  }
}

/* MAIN CONTAINER */

.main_container {
    height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color:rgb(0, 184, 194);
  box-sizing: border-box;

video {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    bottom: -80px;
    min-height: 120%;
    min-width: 100%;
    background: rgb(5,0,39);
    background: linear-gradient(180deg, rgba(5,0,39,0) 43%, rgba(9,29,69,0) 80%, rgba(0,183,194,1) 100%);
    background-attachment: fixed;
}

  .main_section {
  
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
   
   
    .main_section__container {
      align-content: center;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      z-index: 1;
      box-shadow: 0px -45px 10px -15px #00b7c2;
      h1 {
        font-size: 2rem;
        font-family: "Chakra Petch", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        display: inline-flex;
        white-space: nowrap;
        align-items: baseline;
                flex-wrap: wrap;
                justify-content: center;
        /* border-right: 4px solid; */
        width: 60ch;
        line-break: anywhere;
        animation: typing .5s steps(132);
        overflow: hidden;
        transform: translateY(-30%);
      }
      .main_name {
        font-family: "Neonderthaw", cursive;
        font-weight: 400;
        font-size: 5rem;
        color: var(--color-background-lightblue);
        animation: neon2 1.5s ease-in-out infinite alternate;
        padding-inline: 20px;
      }
      .main_word {
        font-family: "Neonderthaw", cursive;
        font-weight: 400;
        color: var(--color-pink);
        font-size: 5rem;
        animation: neon4 1.5s ease-in-out infinite alternate;
        padding-inline: 20px;

      }
    }
  }

  .about_section {
    background: rgb(5,0,39);
    background: linear-gradient(0deg, rgba(5,0,39,1) 51%, rgba(9,29,69,1) 84%, rgba(0,183,194,1) 100%);
    width: 100%;
    height: 100vh;
    padding-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    ::before {
      content: linear-gradient(180deg, rgba(5,0,39,0) 43%, rgba(9,29,69,0) 80%, rgba(0,183,194,1) 100%) ;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: -80px;
    }

    h1 {
      text-align: start;
      text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #fff, 0 0 40px #228dff,
        0 0 7px #228dff, 0 0 8px #228dff, 0 0 1px #228dff, 0 0 15px #228dff;
      font-family: "Neonderthaw", cursive;
      font-weight: 400;
      font-size: 5rem;
      color: var(--color-background-lightblue);
    }
    h2 {
      font-size: 2rem;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: white;
      text-align: center;
      margin-inline: 6rem;
      letter-spacing: .2rem;
    }
  }

  .skills_section {
    background-color: var(--color-background-dark);
    width: 100%;
    height: 100vh;
    display: flex;
    
    align-items: center;
    
    
        justify-content: center;
    .skills_container {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      position: absolute;
      h1 {
        text-align: start;
        text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #fff, 0 0 40px #ff008e,
          0 0 7px #ff008e, 0 0 8px #ff008e, 0 0 1px #ff008e, 0 0 15px #ff008e;
        font-family: "Neonderthaw", cursive;
        font-weight: 400;
        font-size: 5rem;
        color: var(--color-pink);
      }
      .skill_group__container {
        display: flex;
        flex-direction: row; 
        width: 100%;
        border: var(--color-background-lightblue) solid 3px;
        box-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #fff,
          0 0 40px var(--color-background-lightblue),
          0 0 7px var(--color-background-lightblue),
          0 0 8px var(--color-background-lightblue),
          0 0 1px var(--color-background-lightblue),
          0 0 15px var(--color-background-lightblue);
        border-radius: 6px;
        padding: 2rem;
        
        h2 {
            text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #fff, 0 0 40px var(--color-yellow),
          0 0 7px var(--color-yellow), 0 0 8px var(--color-yellow), 0 0 1px var(--color-yellow), 0 0 15px var(--color-yellow);
        font-family: "Chakra Petch", sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 3rem;
        color: var(--color-yellow);
        
        }
        .skill_group {
            text-align: center;
        }
        .frameworks {
            background-color: var(--color-background-blue);
        }
      }
      .skill_list {
        display: flex;
        position: relative;
        margin: 0 auto;
        /* right: -40%; */
        flex-direction: column;
        list-style: url(/img/1646927_code_html_link_icon.svg);
        color: var(--color-background-light);
        font-family: "Chakra Petch", sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.2rem;
        font-size: 2rem;
        padding: 5rem;
        line-height: 5rem;

        background-color: var(--color-background-dark);
        

        span {
          text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff,
            0 0 10px var(--color-yellow), 0 0 4px var(--color-yellow),
            0 0 4px var(--color-yellow), 0 0 1px var(--color-yellow),
            0 0 7px var(--color-yellow);
          color: var(--color-yellow);
        }
        span:hover {
          text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #fff,
            0 0 40px var(--color-yellow), 0 0 7px var(--color-yellow),
            0 0 8px var(--color-yellow), 0 0 1px var(--color-yellow),
            0 0 15px var(--color-yellow);
          cursor: pointer;
        }
      }
    }
    
  }

  .contact_section {
    background-color: var(--color-background-dark);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    

    .contact_container {
      display: flex;
      flex-direction: row;
      gap: 6rem;
        width: 100%;
      .contact_title {
        width: 100%;
        display: flex;
        text-align: start;
        justify-content: center;
        text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #fff, 0 0 40px #228dff,
          0 0 7px #228dff, 0 0 8px #228dff, 0 0 1px #228dff, 0 0 15px #228dff;
        font-family: "Neonderthaw", cursive;
        font-weight: 400;
        font-size: 5rem;
        color: var(--color-background-lightblue);
      }
      .contact_description {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        h2 {
            font-size: 1.5rem;
            font-family: "Chakra Petch", sans-serif;
            font-weight: 200;
            font-style: normal;
            color: white;   
        }
        span {
            text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #fff, 0 0 40px #ff008e,
            0 0 7px #ff008e, 0 0 8px #ff008e, 0 0 1px #ff008e, 0 0 15px #ff008e;
            color: var(--color-pink);
        }
        .mailto {
            color: var(--color-background-light);
            text-decoration: none;
            
        }
        .mailto:hover {
            color: var(--color-yellow);
        }
      }
      .social_links {
        display: flex;
        letter-spacing: .2rem;
        gap: 3rem;
        align-items: center;
        
        a {
            text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #fff, 0 0 40px var(--color-yellow),
            0 0 7px var(--color-yellow), 0 0 8px var(--color-yellow), 0 0 1px var(--color-yellow), 0 0 15px var(--color-yellow);
            font-family: "Chakra Petch", sans-serif;
          font-weight: 400;
          font-size: 2rem;
          text-decoration: none;
          color: var(--color-yellow);
        }
       
    }
    }
  }
}
 
/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    
    color: var(--color-background-light);
    font-size: 18px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: rgb(5,0,39);
background: linear-gradient(180deg, rgba(5,0,39,1) 43%, rgba(9,29,69,1) 46%, rgba(0,183,194,1) 100%);
    span {
        text-align: start;
        text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #fff, 0 0 40px #ff008e,
          0 0 7px #ff008e, 0 0 8px #ff008e, 0 0 1px #ff008e, 0 0 15px #ff008e;
        font-family: "Neonderthaw", cursive;
        font-weight: 600;
        font-size: 30px;
        letter-spacing: .3rem;
        color: var(--color-pink);
    }
}



@media (max-width < 480px) {
  .skill_list {
    
    background-color: var(--color-background-light);
    
  }
}


/* ANIMATIONS */

@keyframes neon2 {
  from {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #fff, 0 0 40px #228dff,
      0 0 7px #228dff, 0 0 8px #228dff, 0 0 1px #228dff, 0 0 15px #228dff;
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #fff, 0 0 40px #ff008e,
      0 0 7px #ff008e, 0 0 8px #ff008e, 0 0 1px #ff008e, 0 0 15px #ff008e;
  }
}

