@import '/css/reset.css';

:root {
    --color-background-dark: #1B262C;
    --color-background-blue: #0F4C75;
    --color-background-lightblue: #00B7C2;
    --color-background-light: #FDCB9E;
    --color-background-green: #4CCD99;
}

.header {
    background-color: var(--color-background-blue);
    min-height: 89px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    .main_menu {
        display: flex;
        align-items: center;
        margin-right: 10%;
        
    }
     .menu_list {
        display: flex;
        flex-direction: row;
        gap: 2rem;
     }   
     .menu_items {
        list-style: none;
        display: flex;
        flex-direction: row;
        
        a {
            
            color: white;
            text-decoration: none;
        }
    }
}

.main_section {
    background-color: var(--color-background-dark);
    width: 100%;
    height: 100vh;
    display: flex;

    .main_section__container {
        align-content:center ;
        width: 60%;
        h1 {
            font-size: 3rem;
            font-family: "Glass Antiqua", cursive;
            font-weight: 600;
            color: white;
            display: inline-block;
            white-space: nowrap;
            /* border-right: 4px solid; */
            width: 60ch;
            animation: typing 5s steps(132);
            overflow: hidden;
        }
        .main_name  {
            font-family: "Neonderthaw", cursive;
            font-weight: 400;
            font-size: 5rem;
            color: var(--color-background-lightblue);
            animation: neon2 1.5s ease-in-out infinite alternate;
        }
        .main_word {
            font-family: "Neonderthaw", cursive;
            font-weight: 400;
            color: var(--color-background-green);
            font-size: 5rem;
            animation: neon4 1.5s ease-in-out infinite alternate;
        }
    }
}
@keyframes typing {
    from {width: 0}
}

@keyframes neon2 {
    from {
      text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #fff, 0 0 40px #228dff,
      0 0 7px #228dff, 0 0 8px #228dff, 0 0 1px #228dff, 0 0 15px #228dff
    }
    to {
        
      /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
        0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff; */
    }
  }

  @keyframes neon4 {
    from {
      text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #fff, 0 0 40px #b6ff00,
        0 0 7px #b6ff00, 0 0 8px #b6ff00, 0 0 1px #b6ff00, 0 0 15px #b6ff00;
    }
    to {
      /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
        0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00; */
    }
  }